
// Body
$body-bg: #f8fafc;
$baseColor:#292929;
$header-bg: #C43B9A;

// Colors
$pinkColor: #E0489A;
$lightPinkColor: #FFF0F0;
$brightPinkColor:#FD5DB3;
$btnPinkColor:#C4008E;
$whiteColor: #ffffff;
$grayColor: #c9c9c9;
$textGrayColor:#707070;
$brightGrayColor:#C4C4C4;
$textBlackColor:#231815;
$separatorLineColor:#FFBABA;
$lineColor:#00B900;
