@charset "UTF-8";
/*===================================
　共通
===================================*/
html{
    font-size: 62.5%;
}

#wrap{
    font-family: 'Ropa Sans', "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    font-size: 1.6rem;
    background: #fff;
    color: #231815;
    letter-spacing: 1.5px;
    line-height: 1.2;
    /*文字詰*/
    -webkit-font-feature-settings: 'palt' 1;
    font-feature-settings: 'palt' 1;
    /*ブラウザごとに太さが違う見え方の調整*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*--- clearfix ---*/
.clearfix { zoom: 1;}
.clearfix::before,
.clearfix::after{content: "";display: table;}
.clearfix::after{clear: both;}
/* 文字カラー
-------------------------------*/
/*.blueL_TC,a.blueL_TC,.blueL_TC>a,ul.blueL_TC>li>a{color: #E5F1F9;}
.blueD_TC,a.blueD_TC,.blueD_TC>a,ul.blueD_TC>li>a{color: #0073C3;}
.red_TC,a.red_TC,.red_TC>a,ul.red_TC>li>a{color: #EA616F;}
.black_TC,a.black_TC,.black_TC>a,ul.black_TC>li>a{color: #464646;}
.gray_TC,a.gray_TC,.gray_TC>a,ul.gray_TC>li>a{color: #9FA0A0;}
.white_TC,a.white_TC,.white_TC>a,ul.white_TC>li>a{color: #FFFFFF;}
.cat_TC,a.cat_TC,.cat_TC>a,ul.cat_TC>li>a{color: #80BEE1;}
.key_TC,a.key_TC,.key_TC>a,ul.key_TC>li>a{color: #F69FA4;}*/
.black_TC{color: #393939;}
.gray_TC{color: #707070;}
/* 背景カラー
-------------------------------*/
/*.blueL_BC{background-color: #E5F1F9;}
.blueD_BC{background-color: #0073C3;}
.cat_BC{background-color: #80BEE1;}
.key_BC{background-color: #F69FA4;}*/
/* font
-------------------------------*/
/*.s_serif{font-family:'Century Gothic W01', 'こぶりなゴシック W3 JIS2004', sans-serif;}
.s_serifB{font-family:'Century Gothic W01 Bold', 'こぶりなゴシック W6 JIS2004', sans-serif;}
.s_serif_e{font-family:'Century Gothic W01', sans-serif;}
.s_serifB_e{font-family:'Century Gothic W01 Bold', sans-serif;}*/
.serif_ja{
    font-family: serif;
}
.bold700{
    font-weight: 700;
}

/* aタグ
-------------------------------*/
li>a{display: block;}
/*--- hover animation ---*/
.hoverAnimation,
.hoverAnimation>li{
    -webkit-transition: 200ms ease-out;
    transition: 200ms ease-out;
}

/* 共通の非表示設定
-------------------------------*/


