@charset "UTF-8";

/*===================================
 base
===================================*/
#wrap{
  min-width: 320px;
  padding-top: 50px;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
}

/*===================================
mainBlk
===================================*/
#mainBlk{
  padding-top: 30px;
  padding-bottom: 50px;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  background-color:antiquewhite; 
}
/*   section
===================================*/
#mainBlk section{
  margin: 0 auto 50px;
}

