@media print {
    #wrap{
        padding-top: 0px;
    }

    .linkBtn{
        display: none;
    }

    .procedure{
        display: inline;
    }

    .procedure img{
        margin-top: 5%;
        widows: 100%;
        margin-right: 20%;
        margin-bottom: 27%;
    }
}     