@media print {
    #wrap{
        padding-top: 0px;
    }

    .sideSpace{
        margin-top: -40px;
    }

    .allContents{
        border: solid #393f4c;
        border-radius: 5px;
    }

    .linkBtn{
        display: none;
    }

    .procedure{
        display: inline;
    }

    .procedure img{
        height:620px;
        width:72%;
        /* margin-top: -50px; */
    }

    .bottomEle{
        margin-top: -17px
    }

    left h3{
        text-align: none;
    }

    .photoEle > img{
        height: 90px;
    }

    .rightEle{
        font-size: 22px;
        margin-top: -5px;
        font-weight: 600;
    }

    .rightEle > input{
        font-size: 23px;
        font-weight: 600;
        margin-top: -11px;
    }


    .rightEle > span{
        font-size: 23px;
    }

    .year{
        font-size: 2rem;
    }

    .left > h2 {
        font-size: 2rem;
        font-weight: 700;
    }
    
    .left > h3 {
        display: none;
    }
    
    .left > p {
        font-size: 1.6rem;
    }

    .small_msg{
        text-indent:100%;
        overflow:hidden;
        white-space:nowrap;
    } 

    .tel{
        display: none;
    }
}     