@media print {
    #wrap{
        padding-top: 0px;
    }

    .linkBtn{
        display: none;
    }

    .procedure{
        display: inline;

    }

    .procedure img{
        height:650px;
        width: 75%;
        margin-top: -20px;
    }

    left h3{
        text-align: none;
    }

    .photoEle > img{
        height: 90px;
    }

    .rightEle{
        font-size: 1.8rem;
    }

    .right > input{
        font-size: 1px!important;    
    }

    .year{
        font-size: 2.6rem;
    }

    .left > h2 {
        font-size: 2rem;
        font-weight: 700;
    }
    
    .left > h3 {
        font-size: 0.5rem;
        font-weight: 600;
        text-indent:100%;
        overflow:hidden;
        white-space:nowrap;
    }
    
    .left > p {
        font-size: 1.6rem;
    }
    
    
}     