#mainBlk{
    padding: 0;
}
#wrap{
    padding-top: 0px;
}
.original{
    display: none;
}
.print{
    display: none;
}
/* .es{
    display: flex;
    width: 80%!important;
} */
.esImg{
    margin: 0px auto!important;
    text-indent:100%;
    overflow:hidden;
    white-space:nowrap;
}
.es img{
    height: 50vw;
    width: 50vw;
}

.photoArea{
    margin: 0;
}
.photoEle{
    margin: 0 auto;
    width: 100%;
}
.left{
    display: none;
}
form{
    display: none;
}
.mix{
    display: inline;
    width: 50%;
}
.fontRed{
    font-size: 1.2rem;
    line-height: 1.5;
}
.printUrl-wrap{
    display: block;
    padding-top: 1rem;
}
.printUrl-descript{
    font-size: 1rem;
    line-height: 1.6;
}
.printUrl{
    font-size: 1.4rem;
}

.formArea{
    display: block;
    width: 50%;
    padding-top: 2rem;
}
.shooting_date{
    width: 55%;
}
.small_msg{
    display: none;
}
.linkBtn{
    display: none;
}
.qrCss{
    text-align: right;
    display: inline;
}
.rightEle{
    font-size: 1.3rem;
    margin-top: -1px;
}
.rightEle input{
    font-size: 2rem;
    margin-bottom: 5px;
}
.tel{
    display: none;
}
.bottomEle{
    width: 90%;
    border:solid 6px antiquewhite;
    border-radius: 5px;
    padding: 15px 10px;
    margin: 0 auto;
}
