@charset "UTF-8";

/*===================================
 head
===================================*/
.head h2{
    font-size: 25px;
    font-weight:700;
    margin-bottom: 1%;
}

.head p{
    font-size: 20px;
    margin-bottom: 5px;
}

/*===================================
 form
===================================*/
.form-body{
    width: 90%;
    height: 57vh;
    background-color: #c5c5e0;
    margin: auto;
    border: #7678eb solid 3px;
}

.input-title{
    font-size:1.8rem;
    font-weight: bold;
}

.form-horizontal{
    margin-top: -15px;
    padding-top: 20px;
}

.form-group{
    margin: auto;
    width: 60%;
    text-align: left;
    padding:30px 0px;
    margin-bottom: 5px;
}

#store_name, #password, #user_id{
    margin: auto;
    width: 100%;
    height: 30px;
    background-color: aliceblue;
    font-size: 2rem;
    border-radius: 5px;;
}
.sendButton{
    margin-top: 20px;
}