@charset "UTF-8";


.photoArea {
    display: flex;
}

.photoEle {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.photoEle > a  > img{
    margin: 0 auto;
    display: block;
}

.photoEle > a > span {
    display: inline-block;
    margin: 15px auto;
    font-weight: 700;
}

.getWrapper {
    position: relative;
    width: 40%;
    margin: 10px auto;
    display: flex!important;
}
.getList {
    width: 55%;
    text-align: center;
    font-size: 1.7rem;
    border-bottom: 1px solid #666666;
    cursor: pointer;
    color: #666666;
    background-color: white;
}

.getImage {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    width: 30%;
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 10px;
    border-radius:5px;
    text-align: center;
    color: white!important;
    background-color: #ff9900;
}

.triangle {
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}

.photoArea {
    margin: 20px 0;
    display: flex;
}

.photoEle {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.photoEle > img {
    margin: 0 auto;
    display: block;
    height: 250px;
    object-fit: cover;
}

.photoEle > span {
    display: inline-block;
    margin: 15px auto;
    font-weight: 700;
}

.bottomEle {
    width: 75%;
    display: flex;
    margin: 30px auto;

}

.left {
    width: 60%;
}

.left > h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.left > p {
    font-size: 2rem;
}

form{
    width: 45%;
}

.right {
    width: 100%;
    margin-left: 15%;
}
.right > input {
    margin-top: 3%;
    margin-left: 40%;
    cursor: pointer;
    background-color: #ff9900!important;
    font-weight: 600!important;
    font-size: 18px;
}

.rightEle {
    display: flex;
    height: 37px;
    font-size: 2.8rem;
    margin-top: 10px;
}

.rightEle > p {
    text-align: right;
    font-weight: 700;
    width: 35%;
}

.rightEle > span{
    background-color: white;
    border-radius: 3px;
    width: 65%;
}

.rightEle > input{
    background-color: white!important;
    border-radius: 3px!important;
    width: 65%;
    font-size: 2.4rem;
    text-align: center;
}

.fontRed{
    color:red;
    font-weight: 800;
}

.linkBtn{
    display: inline-block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-weight: 600;
    border-radius:5px;
    text-align: center;
    color: white!important;
    background-color: #ff9900;
}