@media screen and (max-width:479px){
    #mainBlk{
        height: 100vh!important;
        padding: 2%;
    }

    #wrap {
        padding-top: 0;
        background-color: antiquewhite;
        height: 90%;
    }

    .sendButton, input[type="submit"].sendButton {
        width: 60%;
        font-size: 1.5rem;
    }

    .form-body {
        height: 70vh;;
    }

    .photoArea {
        margin: 0 auto;
        height: 280px;
    }

    .photoEle {
        width: 200px;
        height: 300px;
    }

    .photoEle img{
        width: 200px;
        height: 240px;
        object-fit: contain;    
    }

    .printImg, .esImg {
        display: none;
    }
    .bottomEle {
        display: block;
        margin: 0 auto;
        margin-top: 3%;
    }
    .left {
        width: 100%;
        margin-top: 20px;
    }
    .left > h2 {
        font-size: 2.3rem;
        font-weight: 700;
    }
    .left > p {
        font-size: 1.5rem;
    }
    .fontRed {
        margin: 5px auto;
    }
    .right{
        text-align: center;
        display: inline;
    }
    .rightEle > p {
        text-align: right;
        font-weight: 900;
        width: 35%;
        font-size: 2.1rem;
    }

    .rightEle{
        margin-top: -1px;
    }
    
    .rightEle > span{
        background-color: white;
        border-radius: 3px;
        width: 65%;
        height:78%;
        font-size: 2.1rem;
    }    
    .getWrapper {
        display:inline-block;
        width: 90%;
        margin-left: 22px;
    } 
    .getList {
        margin: 7px auto;
    }
    .getImage {
        margin: 7px 0;
        width: 45%;
    }  
    
}


